<div class="header-container">
  <div class="logo">
    <img src="assets/images/Group 1000001908.svg" alt="">
  </div>
  <div class="header-search-bar">
    <input type="text">
    <button class="search-button">
      <img src="assets/images/search.svg" alt="">
    </button>
  </div>
  <div class="header-menus-container">
    <div class="header-user">
      <img src="assets/images/user.svg" alt="">
      <p>My Account</p>
    </div>
    <div class="header-user">
      <img src="assets/images/heart.svg" alt="">
      <p>Wishlist</p>
    </div>
    <div class="header-user">
      <img src="assets/images/compare_blue.svg" alt="">
      <p>Compare</p>
    </div>
    <div class="header-user">
      <img src="assets/images/cart.svg" alt="">
      <p>Cart</p>
    </div>
  </div>
  <div class="header-pages">
    <button>All Beers</button>
    <button>Packages</button>
    <button>Beer Gifts</button>
  </div>
</div>
