<div class="card-container">
  <div class="product-header">
    <div
    *ngIf="beer?.price! > beer?.abv!">
      <img src="assets/images/Sale_Badge.svg" alt="">
    </div>
    <div
    *ngIf="beer?.ibu! > beer?.ebc!" >
      <img src="assets/images/ProductOfTheWeek_Badge.svg" alt="">
    </div>
    <div>
      <img src="assets/images/Compare.svg" alt="">
    </div>
    <div
    *ngIf="!beer?.isFavorite"
    class="toggle-favorite">
      <img (click)="addToFavoriteBeers()" src="assets/images/Favorite.svg"
      alt="">
    </div>
    <div
    *ngIf="beer?.isFavorite"
    class="untoggle-favorite">
      <img (click)="removeFromFavoriteBeers()" src="assets/images/heart.svg"
      alt="">
    </div>
  </div>
  <div class="product-img-container">
    <img class="product-img" [src]="beer?.image_url" alt=""/>
  </div>
  <div class="product-caption">
    <p>{{beer?.tagline}}</p>
    <h3>{{beer?.name}}</h3>
    <p>{{beer?.contributed_by}}</p>
  </div>
  <div
    *ngIf="beer?.price! >= beer?.abv!"
    class="prize-container">
      <h1 class="price">€{{beer?.price! - 2}}</h1>
      <p class="old-price">€{{beer?.price}}</p>
  </div>
  <div
    *ngIf="beer?.price! < beer?.abv!"
    class="prize-container">
      <h1 class="price">€{{beer?.price}}</h1>
  </div>
  <div class="content">
    <p>Content <span>0.44 Liter</span></p>
  </div>
  <div class="buy-content">
    <input type="number" min="1" max="5">
    <button class="add-to-cart-btn">Add To Cart</button>
  </div>
</div>
