<div class="filter-container">
  <p>Filter By</p>
  <div class="filter">
    <div>
      <div>
        <p>BeerS By Price</p>
        <div class="filter-item-content">
          <div class="filter-item-content-item">
            <input type="checkbox" id="price1" name="price1" value="price1">
            <label for="price1">€0 - €10</label>
          </div>
          <div class="filter-item-content-item">
            <input type="checkbox" id="price2" name="price2" value="price2">
            <label for="price2">€10 - €20</label>
          </div>
          <div class="filter-item-content-item">
            <input type="checkbox" id="price3" name="price3" value="price3">
            <label for="price3">€20 - €30</label>
          </div>
          <div class="filter-item-content-item">
            <input type="checkbox" id="price4" name="price4" value="price4">
            <label for="price4">€30 - €40</label>
          </div>
          <div class="filter-item-content-item">
            <input type="checkbox" id="price5" name="price5" value="price5">
            <label for="price5">€40 - €50</label>
          </div>
        </div>
      </div>
    </div>
    <div class="filter-item">
      <p>Content</p>
      <div class="filter-item-content">
        <div class="filter-item-content-item">
          <input type="checkbox" id="content1" name="content1" value="content1">
          <label for="content1">0.33 Liter</label>
        </div>
        <div class="filter-item-content-item">
          <input type="checkbox" id="content2" name="content2" value="content2">
          <label for="content2">0.44 Liter</label>
        </div>
        <div class="filter-item-content-item">
          <input type="checkbox" id="content3" name="content3" value="content3">
          <label for="content3">0.5 Liter</label>
        </div>
        <div class="filter-item-content-item">
          <input type="checkbox" id="content4" name="content4" value="content4">
          <label for="content4">0.75 Liter</label>
        </div>

</div>

<!-- <mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      This is the expansion title
    </mat-panel-title>
    <mat-panel-description>
      This is a summary of the content
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>This is the primary content of the panel.</p>
</mat-expansion-panel> -->
